body{

    background-color: antiquewhite;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;

    



}

button{
    background-color: green;
    color:bisque;
    border: none;
    border-radius: 5px;
}